@import "./styles/tokens.css";
@import "./styles/utils.css";

body {
  margin: 0;
  font-family: var(--font-base);
  font-size: 14px;
  line-height: 1.6;
  color: var(--gray-800);
  background: var(--bg-page);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-mono);
}
